<%- include("header");-%>
<body>
    <div class="box" id="heading">
        

            <h1 > <%= listtitle %></h1>
        
    </div>
    <div class="box">
        <p><%= addeditem[0] %></p>
        <%for(var i =1;i < addeditem.length;i++){%>
            <div class="item">
            <input type="checkbox">
                <p><%= addeditem[i] %></p>
            </div>
            <%}%>

        <form action="/" method="post">
            <input type="text" name="item" id="item" placeholder="add item" autocomplete="off">
            <button type="submit" name="submit" value=<%= listtitle %>>+</button>
        </form>
    </div>
</body>
<%- include("footer");-%>
</html>